@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
:root{
    --main-background-color: gray;
}

body { 
    font-family: "Roboto", sans-serif;
}

.nav-ul {
    color:var(--decorative-color) ;
}
li { 
    list-style-type: none;
}

a[href="#"][target="_self"] {
    text-decoration: none;
    color: black;
}

a[href="#"][target="_blank"] {
    text-decoration: none;
    color: #2196F3;
}

.container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto
}

.footer {
    height: 252px;
    width: 1600px;
    background-color: #2F303A;
    max-width: 1600px;
}

.paragraf {
    color: #FFFFFF;
    margin: 20px;
}
