@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
:root{
    --main-background-color: gray;
}

body { 
    font-family: "Roboto", sans-serif;
}

.nav-ul {
    color:var(--decorative-color) ;
}
li { 
    list-style-type: none;
}

a[href="#"][target="_self"] {
    text-decoration: none;
    color: black;
}

a[href="#"][target="_blank"] {
    text-decoration: none;
    color: #2196F3;
}

.container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 auto
}

.main_title-text {
    text-align: center;
}

.main_first--section {
    display: flex;
}

.main_second-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}

.main_picturecard {
    display: flex;
    justify-content: space-between;
}

.main_third-section {
    display: flex;
    flex-direction: column;
}

.main_third-title {
    text-align: center;
}

.main_third-cards {
    display: flex;
    justify-content: space-between;
}

.footer {
    background-color: #2F303A;
}

.paragraf {
    color: #FFFFFF;
    margin: 20px;
}

.footer_navigation--first {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto
}